.Workspace {
  position: absolute;
  top: 10px;
  left: 0px;

  box-sizing: border-box;
  border: 1px solid black;
  /* border-left-width: 0px; */
  background-color: white;

  width: 700px;
  height: 900px;
}

#workspace-canvas,
#workspace-svg {
  position: absolute;
  top: 0px;
  left: 0px;
}

.textarea {
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: inherit;
  padding: 1px 6px;
  display: block;
  overflow: auto;
  resize: vertical;
  width: 200px;
  min-height: 80px;
  max-height: fit-content;
}

.text-buttons {
  margin-top: 5px;
  float: right;
  margin-right: 45px;
}
